.search-form {
  margin-bottom: 1rem;
}
.search-input {
  border: 2px solid #cacaca;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
}

.emptyList {
  font-family: arial;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem 0;
  text-align: center;
}

.retry {
  font-family: arial;
  text-align: center;
}
.retry p {
  font-size: 1.5rem;
  font-weight: bold;
}
.retry button {
  background-color: #3fcfff;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

@keyframes loadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bookItem.loading {
  background-color: #efefef;
  animation: loadingAnimation 1s ease-in infinite;
}

.bookItem {
  align-items: flex-start;
  background-color: #d4f4ff;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
}
.bookItem-cover {
  background-color: #c4c4c4;
  object-fit: cover;
  height: 48px;
  width: 48px;
}
.bookItem-content {
  box-sizing: border-box;
  padding-left: 0.5rem;
}
.bookItem-content h2,
.bookItem-content p {
  font-family: arial;
  margin: 0;
}

.bookItem-content h2 {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}
.bookItem-content p {
  color: #7d7d7d;
  font-size: 1rem;
}
